.contact {
  min-height: 100vh;
  background-color: #202020;

  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 70px;
}

.container {
  width: 100%;
  max-width: 700px;
}

.fields {
  display: flex;
  justify-content: stretch;
}

.info {
  flex-grow: 1;
  margin-right: 20px;
}

.message {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  color: white;
  margin-top: 15px;
}

.input {
  display: block;
  background-color: rgb(75, 75, 75);
  width: 100%;
  border: none;
  min-height: 44px;
  border-radius: 8px;
  padding-left: 20px;
  color: white;
}

.textbox {
  display: block;
  background-color: rgb(75, 75, 75);
  resize: none;
  border: none;
  min-height: 44px;
  border-radius: 8px;
  flex-grow: 1;
  padding-left: 20px;
  padding-top: 10px;
  color: white;
}

.heading {
  font-size: 4rem;
  color: rgb(75, 75, 75);
}

.send {
  color: white;
  background-color: #9c01df;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  margin-top: 30px;
}

.send:hover {
  cursor: pointer;
  box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.5);
  background-color: #7c01b1;
}

.send:active {
  box-shadow: none;
  transform: translateY(3px);
}

@media screen and (max-width: 500px) {
  .contact {
    min-width: 100vw;
  }
  .fields {
    flex-direction: column;
  }
  .textbox {
    min-height: 100px;
  }

  .heading {
    font-size: 3rem;
  }

  .send {
    width: 100%;
  }

  .info {
    margin-right: 0px;
  }
}
